* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: black;
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    width: 350px;
  }
}

.main {
  position: relative;
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid white;
  width: 100%;
  &__text {
    color: white;
    padding: 10px;
    display: block;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  align-content: center;
  grid-template-areas:
    '. a .'
    '. a .';
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    align-content: center;
    grid-template-areas:
      'a'
      'a';
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 300px;
    align-content: center;
    grid-template-areas:
      'a'
      'a';
  }
  &__item {
    grid-area: a a;
    align-self: center;
    justify-self: center;
    margin: 10px;
    @media all and (min-width: 768px) {
      grid-column: a a;
    }
    &--image {
      width: 140px;
      @media all and (min-width: 768px) {
        width: 160px;
      }
      @media all and (min-width: 1200px) {
        width: 180px;
      }
    }
    &--container {
      background-color: rgb(6, 201, 250);
      width: 140px;
      height: 230px;
      @media all and (min-width: 768px) {
        width: 160px;
        height: 250px;
      }
      @media all and (min-width: 1200px) {
        width: 180px;
        height: 270px;
      }
    }
    &--name {
      background-color: rgb(6, 201, 250);
      color: white;
      font-size: 19px;
      padding: 5px;
      transition: 0.7s font-size ease-in, 0.7s color ease-in;
      &:hover {
        font-size: 20px;
        color: rgb(5, 110, 136);
      }
    }
    &--species {
      background-color: rgb(6, 201, 250);
      color: white;
      font-size: 16px;
      padding: 5px;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px;
  &__input {
    color: white;
    border: 2px solid rgb(6, 201, 250);
    border-radius: 4px;
    width: 250px;
    height: 30px;
    padding: 10px;
  }
}

.link {
  color: white;
  display: block;
  padding: 10px;
  margin-top: 20px;
  transition: 0.7s font-size ease-in;
  &:hover {
    font-size: 18px;
  }
}

.characterDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 201, 250);
  width: 400px;
  margin-top: 20px;
  &__image {
    margin: 10px;
    width: 180px;
    display: inline-block;
  }
  &__container {
    display: inline-block;
  }
  &__name {
    background-color: rgb(6, 201, 250);
    color: white;
    font-size: 19px;
    padding: 5px;
  }
  &__species {
    background-color: rgb(6, 201, 250);
    color: white;
    font-size: 16px;
    padding: 5px;
  }
  &__alien {
    background-color: rgb(6, 201, 250);
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.optionalMessage {
  color: white;
  font-size: 21px;
  text-align: center;
  margin-top: 22px;
}
